@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.ttf');
}

/* Colors */
:root {
  --color-primary: #00a5cf;
  --color-background: #e0e5d5;
  --color-background-alt: #ffffff;
  --color-text: #04080f;
  --color-text-alt: #59656f;
  --color-success: #24b537;
  --color-warning: #ea8b07;
  --color-danger: #d81125;
}

/*
 * General styling
 */
body {
  background: var(--color-background);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: 'Inter';
  line-height: 1.25;
  margin: 1rem;
  padding: 0;
}

p {
  margin: 1rem 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-danger {
  color: var(--color-danger);
  font-size: 0.75rem;
}

dd {
  margin: 0.5rem 0 1rem 0;
}

.unstyled-list {
  list-style: none;
  margin: 0.25rem 0 0.5rem 0;
  padding: 0 0 0 1rem;
}

/*
 * Header
 */
.header {
  margin: auto;
  max-width: 960px;
  width: 100%
}

/*
 * Sidebar & content wrapper
 */
.page {
  margin: auto;
  max-width: 960px;
  width: 100%
}

@media only screen and (min-width: 720px) {
  .page {
    display: grid;
    gap: 0.875rem;
    grid-template-columns: 1fr minmax(0, 3fr);
  }
}

/*
 * Sidebar
 */
.sidebar {
  font-size: 0.875rem;
}

.navigation-header {
  font: normal 1rem 'Roboto Slab';
  margin: 0;
}

/*
 * Content
 */
.content {
  align-self: baseline;
  background: var(--color-background-alt);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem 1.5rem;
}

.heading {
  font: normal 2rem 'Roboto Slab', serif;
  margin: 1rem 0 0.25rem;
}

.subheading {
  font-size: 1.5rem;
}

.statistic {
  display: flex;
  align-items: center;
}

.count {
  font-size: 1.75rem;
  margin-right: 0.5rem;
}

/*
 * Forms
 */
.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin: 1rem 0 0 0;
  font-size: 0.875rem;
}

.form-field {
  border: 1px solid #bebebe;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

textarea {
  resize: vertical;
}

.button {
  background: var(--color-primary);
  border: 0;
  border-radius: 2rem;
  color: var(--color-background-alt);
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

.button:hover {
  background: var(--color-text-alt);
}

.error-message {
  align-self: baseline;
  color: var(--color-danger);
  background: #ffc0c0;
  border-radius: 2rem;
  font-size: 0.75rem;
  margin: 0.5rem 0 0 0;
  padding: 0.25rem 1rem;
}

.error {
  border: 1px solid var(--color-danger);
}

/* Book availability indicator */
.status {
  border-radius: 1rem;
  color: var(--color-background-alt);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.25rem;
  padding: 2px 8px;
}

.available { background: var(--color-success); }
.loaned { background: var(--color-warning); }
.maintenance { background: var(--color-danger); }

/* Smaller accompanying text */
.text-muted {
  color: var(--color-text-alt);
  font-size: 0.75rem;
  margin-top: 0;
}

/*
 * Error page
 */
.stack-trace {
  background: var(--color-background);
  border-radius: 0.25rem;
  font: normal 0.875rem 'Roboto Mono';
  overflow-y: scroll;
  padding: 1rem;
}
